* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 14px;
    color: var(--text-color);
    line-height: 20px;
    letter-spacing: 0.3px;
    scroll-behavior: smooth;
}
:root {
    --text-color: #04bd04;
}

.main {
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home {
    height: 100vh;
    background-color: #333;
    display: flex;
	justify-content: center;
    align-items: center;
}
.main > * {
    margin: 1rem;
}
.tf > * {
    margin: 2rem 0;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.input {
	display: flex;
	align-items: center;
}
.input input {
	margin-left: 10px;
	border: none;
	background-color: transparent;
	outline: none;
	caret-color: #04bd04;
	width: 100%;
}